@page
@model IndexModel
@{
    ViewData["Title"] = "Shelf";
}
<h1>@ViewData["Title"]</h1>

<div class="page-description">
    Please select a product to buy
</div>

<form method="post">
    <table class="tbl">

        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Available</th>
            <th>Reserved</th>
            <th>Buy</th>
        </tr>
        </thead>

        <tbody>
        @foreach (ProductViewModel product in Model.Products)
        {
            <tr>
                <td>
                    @product.Name
                </td>

                <td>
                    @product.Price lei
                </td>

                <td>
                    @product.AvailableCount
                </td>

                <td>
                    @product.ReservationCount
                </td>

                <td>
                    @if (product.CanBuy)
                    {
                        <input class="btn btn-primary" type="submit" value="Buy" asp-route-productid="@product.Id" />
                    }
                    else
                    {
                        <text>Sold out</text>
                    }
                </td>
            </tr>
        }
        </tbody>

    </table>
</form>