@page
@model Shop.WithRepository.Pages.OrdersModel
@{
    ViewData["Title"] = "Orders";
}
<h1>@ViewData["Title"]</h1>

@if (Model.Orders == null || Model.Orders.Count == 0)
{
    <text>There are no orders yet.</text>
}
else
{
    <form method="post">

        <table>

            <thead>
                <tr>
                    <th style="border: 1px solid black;">Date</th>
                    <th style="border: 1px solid black;">Product</th>
                    <th style="border: 1px solid black;">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (OrderViewModel order in Model.Orders)
                {
                    <tr>
                        <td style="border: 1px solid black;">
                            @order.Date
                        </td>

                        <td style="border: 1px solid black;">
                            @order.ProductName
                        </td>

                        <td style="border: 1px solid black;">
                            @if (order.ShowCloseButton)
                            {
                                <input type="submit" value="Close" asp-page-handler="Close" asp-route-orderid="@order.Id" />
                            }

                            @if (order.ShowPaymentButton)
                            {
                                <input type="submit" value="Pay" asp-page-handler="Pay" asp-route-orderid="@order.Id" />
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </form>
}