@page
@model Shop.WithRepository.Pages.ShelfModel
@{
    ViewData["Title"] = "Shelf";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <table style="border: 1px solid black;">

        <thead>
            <tr>
                <th style="border: 1px solid black;">Product</th>
                <th style="border: 1px solid black;">Price</th>
                <th style="border: 1px solid black;">Available</th>
                <th style="border: 1px solid black;">Reserved</th>
                <th style="border: 1px solid black;">Buy</th>
            </tr>
        </thead>

        <tbody>
            @foreach (ProductViewModel product in Model.Products)
            {
                <tr>
                    <td style="border: 1px solid black;">
                        @product.Name
                    </td>

                    <td style="border: 1px solid black;">
                        @product.Price lei
                    </td>

                    <td style="border: 1px solid black;">
                        @product.AvailableCount
                    </td>

                    <td style="border: 1px solid black;">
                        @product.ReservationCount
                    </td>

                    <td style="border: 1px solid black;">
                        @if (product.CanBuy)
                        {
                            <input type="submit" value="Buy" asp-route-productid="@product.Id" />
                        }
                        else
                        {
                            <text>Sold out</text>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
</form>