@page
@model Shop.WithRepositories.Pages.ShelfModel
@{
    ViewData["Title"] = "Shelf";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <table class="full-width">

        <thead >
            <tr class="header-bgr">
                <th class="padding-15 table-header">Product</th>
                <th class="padding-15 table-header">Price</th>
                <th class="padding-15 table-header">Available</th>
                <th class="padding-15 table-header">Reserved</th>
                <th class="padding-15 table-header">Buy</th>
            </tr>
        </thead>

        <tbody>
            @foreach (ProductViewModel product in Model.Products)
            {
                <tr>
                    <td class="padding-15 table-cell">
                        @product.Name
                    </td>

                    <td class="padding-15 table-cell">
                        @product.Price lei
                    </td>

                    <td class="padding-15 table-cell">
                        @product.AvailableCount
                    </td>

                    <td class="padding-15 table-cell">
                        @product.ReservationCount
                    </td>

                    <td class="padding-15 table-cell">
                        @if (product.CanBuy)
                        {
                            <input class="btn btn-primary" type="submit" value="Buy" asp-route-productid="@product.Id" />
                        }
                        else
                        {
                            <text>Sold out</text>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
</form>